main {
  background-color: #2a2a2a;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  .personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .personal-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .personal-info h2,
  .personal-info h3,
  .personal-info p {
    margin: 10px 0;
  }

  .professional-profile,
  .experiencie,
  .Education,
  .tools,
  .skills,
  .languages {
    margin-top: 20px;
    padding: 15px;
    background-color: #333333;
    border-radius: 8px;
  }

  .professional-profile h4,
  .experiencie h4,
  .Education h4,
  .tools h4,
  .skills h4,
  .languages h4,
  .professional-profile p,
  .professional-profile li,
  .experiencie p,
  .experiencie li,
  .Education p,
  .Education li,
  .tools p,
  .tools li,
  .skills p,
  .skills li,
  .languages p,
  .languages li {
    color: #adadad;
  }

  .experiencie,
  .Education {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0 20px;
      width: calc(100% - 40px);
    }

    li {
      background-color: #2b2b2b;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      word-wrap: break-word;
    }

    @media (max-width: 768px) {
      ul {
        margin: 0 10px;
        width: calc(100% - 20px);
      }

      li {
        font-size: 14px;
      }
    }
  }
}
