main {
  background-color: #2a2a2a;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;

  .personal-info .personal-info-skills div:nth-child(1) {
    background-color: #f0db4f;
    color: #000000;
  }

  .personal-info .personal-info-skills div:nth-child(2) {
    background-color: #007acc;
    color: #ffffff;
  }

  .personal-info .personal-info-skills div:nth-child(3) {
    background-color: #1a3f4a;
    color: #ffffff;
  }

  .personal-info .personal-info-skills div:nth-child(4) {
    background-color: #332052;
    color: #ffffff;
  }

  .personal-info .personal-info-skills div:nth-child(5) {
    background-color: #dc9cbc;
    color: #ffffff;
  }

  .personal-info .personal-info-skills div:nth-child(6) {
    background-color: #75ae76;
    color: #ffffff;
  }

  .personal-info .personal-info-skills div:nth-child(7) {
    background-color: #96cd53;
    color: #ffffff;
  }

  .personal-info .personal-info-skills div:nth-child(8) {
    background-color: #401db1;
    color: #ffffff;
  }

  .personal-info .personal-info-skills div:nth-child(9) {
    background-color: #d87056;
    color: #ffffff;
  }

  .personal-info .personal-info-skills div:nth-child(10) {
    background-color: #5889b1;
    color: #ffffff;
  }

  .personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .foto-camilo img {
      width: 100px !important;
      height: 100px !important;
      border-radius: 50% !important;
    }
    .personal-info-skills {
      margin-top: 1.2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.8rem;
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.4rem;
        border: 1px solid transparent;
        padding-inline: 8px;
        border-radius: 0.5rem;
      }
    }
  }

  .personal-info h2,
  .personal-info h3,
  .personal-info p {
    margin: 10px 0;
  }

  .professional-profile,
  .experiencie,
  .Education,
  .tools,
  .skills,
  .languages {
    margin-top: 20px;
    padding: 15px;
    background-color: #333333;
    border-radius: 8px;
  }

  .professional-profile h4,
  .experiencie h4,
  .Education h4,
  .tools h4,
  .skills h4,
  .languages h4,
  .professional-profile p,
  .professional-profile li,
  .experiencie p,
  .experiencie li,
  .Education p,
  .Education li,
  .tools p,
  .tools li,
  .skills p,
  .skills li,
  .languages p,
  .languages li {
    color: #adadad;
  }

  .experiencie,
  .Education {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0 20px;
      width: calc(100% - 40px);
    }

    li {
      background-color: #2b2b2b;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      word-wrap: break-word;
    }

    @media (max-width: 768px) {
      ul {
        margin: 0 10px;
        width: calc(100% - 20px);
      }

      li {
        font-size: 14px;
      }
    }
  }
}
