footer {
  background-color: #222; // Dark background for the footer
  color: #fff; // White text for contrast
  padding: 20px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .info-footer {
    text-align: center;

    h2 {
      margin: 0;
      color: #f0f0f0;
    }

    h3 {
      margin: 5px 0;
      color: #ccc;
      font-weight: normal;
    }
  }

  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
      width: 40px;
      height: 40px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// Responsive adjustments
@media (max-width: 600px) {
  footer {
    flex-direction: column;

    .info-footer,
    .social-media {
      margin: 10px 0; // Add margin for vertical stacking
    }
  }
}
